In [1]:
from jqdatasdk import *
auth('18717710887','Szf981027')

auth success

In [33]:
import pandas as pd
from utils import get_data, str2datetime, build_trade_days

In [4]:
# 样本内
# s_date = '2022-07-25'
# e_date = '2022-12-30'

# 样本外
s_date = '2023-01-01'
e_date = '2023-02-28'
# trade_days = build_trade_days(s_date, e_date)

In [43]:
futures = ['1B0300','1B0852','IF9999','IM9999']
indicator = 'close'

In [36]:
file_name = 'IF9999_validation'
data = pd.read_csv(f'./data/{file_name}.csv', index_col=0)

In [37]:
data = data.loc[:,['close','open','high','low','volume']]

In [38]:
data

              close      open      high       low  volume
2023-2-24  4,065.40  4,103.00  4,107.60  4,046.00  71.01K
2023-2-23  4,101.60  4,116.00  4,136.00  4,089.00  69.95K
2023-2-22  4,108.80  4,131.00  4,146.20  4,102.40  65.24K
2023-2-21  4,141.20  4,140.00  4,162.40  4,124.80  66.79K
2023-2-20  4,137.80  4,049.00  4,148.60  4,036.60  87.81K
2023-2-17  4,060.20  4,091.00  4,107.00  4,059.20  15.54K
2023-2-16  4,106.40  4,130.00  4,175.20  4,067.60  39.70K
2023-2-15  4,118.80  4,152.60  4,160.40  4,112.20  39.71K
2023-2-14  4,140.40  4,147.00  4,152.00  4,122.60  40.61K
2023-2-13  4,137.80  4,093.80  4,145.40  4,085.80  51.08K
2023-2-10  4,106.00  4,125.60  4,126.80  4,089.60  46.24K
2023-2-9   4,134.20  4,068.00  4,140.00  4,068.00  58.53K
2023-2-8   4,078.60  4,103.00  4,117.00  4,071.00  45.70K
2023-2-7   4,091.00  4,100.00  4,107.40  4,074.20  50.08K
2023-2-6   4,083.40  4,110.00  4,111.00  4,062.60  59.18K
2023-2-3   4,142.20  4,165.40  4,166.00  4,106.20  64.61K
2023-2-2   4,182.40  4,210.00  4,211.60  4,171.00  57.28K
2023-2-1   4,192.00  4,180.00  4,200.40  4,144.20  61.67K
2023-1-31  4,174.00  4,215.00  4,229.00  4,166.00  51.98K
2023-1-30  4,210.80  4,280.00  4,282.80  4,204.40  55.79K
2023-1-20  4,180.30  4,169.00  4,187.80  4,158.80  17.20K
2023-1-19  4,151.00  4,121.40  4,162.20  4,105.00  36.37K
2023-1-18  4,136.60  4,153.00  4,161.40  4,130.00  41.64K
2023-1-17  4,144.20  4,151.00  4,160.80  4,131.40  45.14K
2023-1-16  4,151.40  4,090.60  4,196.00  4,089.80  76.17K
2023-1-13  4,072.00  4,037.00  4,091.80  4,033.80  56.67K
2023-1-12  4,026.20  4,029.60  4,038.60  4,010.80  45.90K
2023-1-11  4,020.80  4,022.00  4,048.20  4,012.40  50.08K
2023-1-10  4,022.20  4,014.00  4,037.80  4,003.40  48.66K
2023-1-9   4,016.80  4,008.00  4,032.00  3,996.80  56.56K
2023-1-6   3,990.40  3,975.20  4,008.00  3,972.00  55.65K
2023-1-5   3,975.40  3,923.80  3,982.60  3,918.00  65.79K
2023-1-4   3,895.00  3,897.40  3,911.00  3,876.60  52.12K
2023-1-3   3,900.40  3,861.00  3,909.60  3,834.40  67.12K

In [39]:
data.index = data.index.map(lambda x:str2datetime(x.replace('"','')))
data['close'] = data['close'].map(lambda x:float(x.replace('"','').replace(',','')))
data['open'] = data['open'].map(lambda x:float(x.replace('"','').replace(',','')))
data['high'] = data['high'].map(lambda x:float(x.replace('"','').replace(',','')))
data['low'] = data['low'].map(lambda x:float(x.replace('"','').replace(',','')))
data['volume'] = data['volume'].map(lambda x:float(x.replace('"','').replace('K','')) * 1000)

In [40]:
data.dtypes
data.index

DatetimeIndex(['2023-02-24', '2023-02-23', '2023-02-22', '2023-02-21',
               '2023-02-20', '2023-02-17', '2023-02-16', '2023-02-15',
               '2023-02-14', '2023-02-13', '2023-02-10', '2023-02-09',
               '2023-02-08', '2023-02-07', '2023-02-06', '2023-02-03',
               '2023-02-02', '2023-02-01', '2023-01-31', '2023-01-30',
               '2023-01-20', '2023-01-19', '2023-01-18', '2023-01-17',
               '2023-01-16', '2023-01-13', '2023-01-12', '2023-01-11',
               '2023-01-10', '2023-01-09', '2023-01-06', '2023-01-05',
               '2023-01-04', '2023-01-03'],
              dtype='datetime64[ns]', freq=None)

In [41]:
data.to_csv(f'./data/{file_name}.csv',index=True)

In [62]:
im = get_bars('000852.XSHG', 40, unit='1d',
         fields=['date', 'close','open', 'high', 'low', 'volume'],
         include_now=True, end_dt=None, fq_ref_date=None,df=True)

In [23]:
file = 'IM9999'
data = pd.read_csv(f'./data/{file}.csv', index_col=0)

In [24]:
data.index = pd.DatetimeIndex(data.index)

In [25]:
data = data.sort_index(axis=0, ascending=False)

In [26]:
data

             close    open    high     low   volume
2022-12-30  6285.8  6290.2  6304.0  6261.0  21902.0
2022-12-29  6269.2  6279.8  6334.8  6260.8  27458.0
2022-12-28  6293.4  6310.0  6318.4  6263.8  22558.0
2022-12-27  6336.2  6305.0  6339.0  6265.4  26878.0
2022-12-26  6285.2  6172.2  6305.4  6170.2  33311.0
...            ...     ...     ...     ...      ...
2022-07-29  7087.0  7130.0  7152.0  7068.0  25025.0
2022-07-28  7119.0  7110.0  7171.4  7072.4  22464.0
2022-07-27  7066.2  6982.0  7074.4  6965.2  19290.0
2022-07-26  6991.0  6898.0  6994.0  6844.8  19269.0
2022-07-25  6878.6  6974.2  7015.8  6850.0  22883.0

[109 rows x 5 columns]

In [27]:
data.to_csv(f'./data/{file}.csv', index=True)

In [28]:
from CBackTestEngine import CBackTestEngine

In [29]:
bt = CBackTestEngine('2023-01-04', '2023-02-28','test')

2023-03-01 14:42:52,920 - CBackTestEngine.py[line:49] - INFO: Init the portfolio and position detail successfully!
2023-03-01 14:42:52,922 - CBackTestEngine.py[line:38] - INFO: The back test engine set successfully!

In [30]:
data = bt.get_data(['1B0300', '1B0852'], 'close', '2023-01-04', '2023-02-28')

In [46]:
data =  pd.read_csv('./data/1B0300.csv',index_col=0)

In [47]:
sdate = str2datetime('2023-01-04')
edate = str2datetime('2023-02-28')

In [48]:
data.index = pd.DatetimeIndex(data.index)

In [49]:
data

                close       open       high        low        volume
2023-02-28  4069.4587  4058.1298  4074.2639  4026.4476  1.103236e+10
2023-02-27  4043.8400  4040.4600  4067.0300  4034.5200  9.378763e+09
2023-02-24  4061.0500  4100.9900  4102.6100  4048.2400  1.009894e+10
2023-02-23  4103.6500  4106.2100  4132.3900  4088.2100  1.035649e+10
2023-02-22  4106.9500  4118.9700  4134.8800  4101.8600  1.042903e+10
...               ...        ...        ...        ...           ...
2022-07-29  4170.1000  4226.4200  4243.5100  4160.8700  1.141800e+05
2022-07-28  4225.6700  4242.2700  4267.9200  4223.0300  1.075300e+05
2022-07-27  4225.0400  4236.1500  4242.1000  4217.2800  7.891000e+04
2022-07-26  4245.9800  4220.0900  4259.9900  4214.5300  8.582000e+04
2022-07-25  4212.6400  4233.9300  4234.8400  4201.9200  8.364000e+04

[145 rows x 5 columns]

In [54]:
test = data['2023-01-04':'2023-02-28']

In [55]:
test

                close       open       high        low        volume
2023-02-28  4069.4587  4058.1298  4074.2639  4026.4476  1.103236e+10
2023-02-27  4043.8400  4040.4600  4067.0300  4034.5200  9.378763e+09
2023-02-24  4061.0500  4100.9900  4102.6100  4048.2400  1.009894e+10
2023-02-23  4103.6500  4106.2100  4132.3900  4088.2100  1.035649e+10
2023-02-22  4106.9500  4118.9700  4134.8800  4101.8600  1.042903e+10
2023-02-21  4144.3500  4130.0600  4151.8000  4116.2700  1.457762e+10
2023-02-20  4133.4900  4039.9600  4134.8600  4035.4800  1.617945e+10
2023-02-17  4034.5100  4086.2200  4104.6400  4032.9300  1.161426e+10
2023-02-16  4093.4900  4125.4100  4167.9000  4068.8600  1.593106e+10
2023-02-15  4123.6900  4146.8500  4153.7200  4115.9700  1.216645e+10
2023-02-14  4145.2900  4151.2500  4152.0500  4125.2600  1.024999e+10
2023-02-13  4143.5700  4098.8800  4146.4500  4092.2700  1.288926e+10
2023-02-10  4106.3100  4124.1000  4125.2900  4092.3500  9.671673e+09
2023-02-09  4130.8600  4067.5600  4130.8600  4064.7500  1.022900e+10
2023-02-08  4076.1400  4099.8600  4111.4700  4072.6500  8.478610e+09
2023-02-07  4094.2300  4098.3100  4107.3400  4077.9600  9.136007e+09
2023-02-06  4086.8800  4103.8300  4105.9400  4065.2200  1.101927e+10
2023-02-03  4141.6300  4162.0300  4162.0300  4103.1700  1.170412e+10
2023-02-02  4181.1500  4207.4100  4207.4100  4170.5600  1.338237e+10
2023-02-01  4195.9300  4170.1300  4195.9300  4137.7700  1.410090e+10
2023-01-31  4156.8600  4200.5800  4212.7300  4153.0500  1.245508e+10
2023-01-30  4201.3500  4267.6200  4268.1500  4197.8600  1.646071e+10
2023-01-20  4181.5300  4166.8400  4189.8300  4161.6700  1.235538e+10
2023-01-19  4156.0100  4125.5800  4156.0100  4105.9800  9.460840e+09
2023-01-18  4130.3100  4140.1000  4151.4600  4125.7700  8.420064e+09
2023-01-17  4137.2400  4138.8400  4148.5800  4118.1600  9.547904e+09
2023-01-16  4137.9600  4077.8800  4177.1000  4076.6400  1.513955e+10
2023-01-13  4074.3800  4032.2900  4074.3800  4027.8900  9.587190e+09
2023-01-12  4017.8700  4021.7500  4030.2900  4003.5100  9.055263e+09
2023-01-11  4010.0300  4019.8800  4043.4000  4008.0200  9.999789e+09
2023-01-10  4017.4700  4014.7100  4030.4600  4002.2300  1.017511e+10
2023-01-09  4013.1200  3998.5300  4023.0900  3990.7100  1.170544e+10
2023-01-06  3980.8900  3969.5500  4000.4100  3966.4700  1.109530e+10
2023-01-05  3968.5800  3913.4900  3974.8800  3912.2600  1.165024e+10
2023-01-04  3892.9500  3886.2500  3905.9000  3873.6500  1.106607e+10